h1 
{ 
    text-align: center;
    color:#212529;;
    font-size: 30px
}
h2 
{ 
    color: #212529;;
    font-size: 30px
}

body
{
    color:grey;
}
body1
{
    color:grey;
    text-align: center;
    font-size: 30px
}

.sidenav {
height: 100%;
width: 160px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}
    
.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;

} 

.sidenav a:hover {
    color: #f1f1f1;
    }

.Sidebar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
   }
    
.Home {
    text-align: center;
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 14px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    }


.main {
        float:none;
        margin-left: 160px; /* Same as the width of the sidenav */
        margin-right: 40px;
}


.main_Keyskills {
         
    margin: -20px;
    padding: 0px;
        }

.Icons {
            vertical-align:middle;
            margin-left: 10px; /* Same as the width of the sidenav */
            font-size: 14px; /* Increased text to enable scrolling */
            padding: 0px 0px;
            }
.Icons2 {
                vertical-align:top;
                margin-left: 10px; /* Same as the width of the sidenav */
                font-size: 14px; /* Increased text to enable scrolling */
                padding: 0px 0px;
                }
